.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)

    .buttons
      = link_to "Fix Doc", edit_doc_url(@doc), class: "button"
      = link_to "Trash Doc", doc_url(@doc), method: :delete, data: { confirm: "Are you sure??"}, class: "button"
