#banner
  .banner_content
    %h1 Rails Note
    %p For Taking Notes in Rails.
    %button= link_to "Enter", new_user_registration_url

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p
          Selfies succulents godard chillwave. Af heirloom keytar kale chips. Readymade butcher yr pitchfork. Franzen +1 tilde mumblecore organic la croix woke, forage keytar pickled tattooed listicle hashtag. Meditation artisan iPhone, leggings marfa offal tousled raclette coloring book truffaut kombucha irony. YOLO mlkshk 90's, tilde enamel pin biodiesel etsy live-edge cray tumblr DIY drinking vinegar distillery. Bushwick squid hammock, vice sriracha lomo unicorn tousled actually four dollar toast disrupt fingerstache.

#bottom_cta
  .wrapper
    %h2 Go ahead!
    %br
    %button= link_to "Join Now", new_user_registration_url